/* Vertical center for a row */
.vert-align {
    vertical-align: middle;

}

.nav .navbar-nav{
    height: 70px;
}

.navtext{
    color: #FF0A0A;
    font-size: 14px;
}


.hidden{
    display:none;
}

.error-on{
    color: #DE5145;
}

.mainWord{
    color: #0B4C69;
    font-weight: 300;
    font-size: 24px;
    margin-left: 15px;
}

.secondaryWords{
    color: #0B4C69;
    font-size: 14px;
}

.td, p {
    line-height: 80%;
}

.textAllTeam{
    margin-left: 15px;
}


.phoneStudentlist{
    margin-left: 70px;
}

#coursedescription{
    background-color: blue;
}


.big-container {
    border: 1px #ACACAC solid;
    padding: 15px;

}

.the-big-box {
    margin: 0 auto;
    width: 100%;
  }

#nav-logo{
/* TODO ALIGN THE LOGO
 */    margin-top: 0px;
    height: 50px;
    width: auto;
    padding-top: 0px;
}

.courseblock{
/*     border: 1px blue solid;
 */    margin: auto 10px;
}



/* ONE COURSE VIEW */

.courseid{
    width: 40px;
}

.bold{
    font-weight: 600;
}

.maxwidth50{
    max-width: 50px !important; 
}

.maxwidth100{
    max-width: 100px;
}

.maxwidth175{
    max-width: 175px;

}

.hrCourseStudents{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}

.headeronecourse{
    /* Este es el titulo en grande del curso seleccionado, Main Container */
}
/* TODO CLASSES */

.studentname{
   /*  Es la clase de los alumnos que figuran en un determinado curso */
}

.coursedata{
/*     Es el nombre del curso que aparece en el cuadro izquierdo
 */}

 .row{
     margin-top: 5px;
     margin-bottom: 5px;
 }

 .teamMemberBlock{
     padding-bottom: 10px;
 }

 .totalteammembers{
/*      TExto que muestra el total de miembros
 */ }

 .roleselection{
/*      Es parte del formulario de Add
 */ }

 .mediumtitle{
     font-size: 125%;
     font-weight: 700;
     color: #3479B6;

 }

 .med-gly{
     font-size: 25px;
 }